@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;600&family=Kanit:ital,wght@0,400;0,700;1,400&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header{
    font-family: 'Fredoka',sans-serif;
    display: flex;
    justify-content: space-between;
    padding: 30px 30px;
    position: fixed;
    width: 100%;
}

body{
    min-height: 200vh;
}

.logo{
    text-align: center;
}

.logo h1{
    letter-spacing: 4px;
}

.logo h2{
    color: rgb(8, 8, 112);
    letter-spacing: 1px;
}

.nav-link{
    display: flex;
}

.nav-link li{
    padding: 20px;
    list-style: none;
}

.nav-link a{
    text-decoration: none;
    font-size: 18px;
    color: #000;
    transition: 0.3s;
    border-radius: 20px;
}

.nav-link a:hover{
    color: rgb(255, 255, 255);
    padding: 10px 15px;
    background-color: rgb(8, 8, 112);
    
}
