@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;600&family=Kanit:ital,wght@0,400;0,700;1,400&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    min-height: 200vh;
    z-index: 1000;
}

header{
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    padding: 20px;
    font-family: 'Fredoka',sans-serif;
}

.logo{
    text-align: center;
    cursor: pointer;
    letter-spacing: 4px;
    color: #fff;
}

.back-1{
    position: absolute;
    width: 100%;
    z-index: -1;
}

.nav-1 li a{
    padding: 1000px;
}